.category-list{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.category-list-list{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.category-list-item{
    background-color: var(--secundaria);
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.category-list-input{
    margin-right: 20px;
}